.container
  width: 320px
  height: 100%
  margin 0 auto

.sticky-footer-wrapper
  box-sizing border-box
  //height: 100%;
  min-height: 100%;
  padding-bottom 24px
  margin-bottom -24px

header
  box-sizing: border-box
  width: 100%
  color: #bfbfbf;
  line-height:48px;
  background-color rgba(27,22,47,.88)
  padding:0 2.5%;
  margin-bottom 30px

.main-body
  box-sizing: border-box
  padding:0 2.5%;

footer
  color #fafafa
  line-height:1.5;
  background-color: #2F2F3B
  text-align: center
